.file-preview {
  display: flex;
  align-items: center;

  &__meta {
    padding: 5px;
    line-height: 15px;

    .name {
      display: block;
      font-weight: 500;
      font-size: 12px;
    }
    .size {
      font-size: 9px;
    }
  }
}